.img_wrap {margin-left:400px;}

.address {width:1140px; height:116px; margin-top:20px; border:1px solid #ccc; margin-bottom:20px;}
.address > div {text-align:center; font-size:25px; padding-top:25px; font-weight:500;}












